.inputField {
    display: flex;
    padding: 0;
    position: relative;
    width: 71%;
    margin-right: auto;
    margin-left: auto;
}
.inputField > input {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid rgba(153, 153, 153, 1);
  border-radius: 40px;
  font-size: 16px;
  background-color: rgba(230, 230, 230, 1);
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 20px 40px 20px 40px;
  color: black;


}
::placeholder {
  color: rgba(153, 153, 153, 1);
  font-size: 1vw;
}
.search_btn{
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    background-color: white;
    border-radius: 50%;
    border: 0;
    height: 3em;
    width: 3em;
}
.btn-primary{
    --bs-btn-active-bg: rgba(130, 130, 130, 1);
    --bs-btn-active-border-color: rgba(130, 130, 130, 1);
    --bs-btn-disabled-bg: rgba(130, 130, 130, 1);
    --bs-btn-disabled-border-color: rgba(130, 130, 130, 1);
}
.btn:active{
  background-color:  rgba(130, 130, 130, 1);
}
.search_btn:hover{
    background-color: rgba(102, 102, 102, 0.5);
    border: none;
    color: white;
}

.icon {
  height: 3em;
  padding: 0.8em;
  will-change: filter;
  transition: filter 300ms;
}
.icon:active{
  background-color:  transparent;
}
@media (max-width: 460px) {
    .inputField {
        width: 90%;
        }
    .search_btn{
        height: 2.6em;
        width: 2.6em;
    }
    .icon {
      height: 2.6em;
      padding: 0.7em;
    }
}